@import 'tailwindcss/base';

@layer base {
  html {
    @apply h-full w-full overflow-hidden bg-repeat text-neutral-900 antialiased bg-blend-hard-light;
    color-scheme: light;
    background-image: url('/noise.png');
    background-color: hsl(0, 0%, 93%);
  }

  body {
    @apply relative h-full w-full overflow-hidden tracking-wider;
  }

  #__next {
    @apply relative h-full w-full;
  }
}
